*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: weight 10px;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   
}
.navbar{
    
    background-color: rgb(250, 69, 3);
    height: 50;
    width: 50;
   
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.image{
    height: 60px;
}
.Heading{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
}
.basic{
    display: flex;
    justify-content: space-around;
}
.options{
    display: flex;
    justify-content: space-evenly;
}
.btndiv{
    display: flex;
    justify-content: center;
    
}
.btn{
    background-color: rgb(250, 69, 3);
    color: white;
    border-color: rgb(250, 69, 3);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 20px;
    
    
}
.calories-Information{
    display: flex;
    flex-direction: row;
}
.Info{
    display: flex;
    justify-content: space-between;

}
.meals-card{
    display: flex;
    flex-direction: row;
    
}
.form-select{
    padding: 3px;
    width: 150px;
    margin-top: 20px;
}
.form-control{
    padding: 3px;
    margin-top: 20px;
}
.card-img-top{
   height: 200px;
   width: 200px;

}
/* .meals{
    display: flex;
    flex-direction: row;
    
} */
.text-center{
    align-items: center;
}

#cards-container{
    display: flex;
    justify-content: space-evenly;
}
.card-baseBlock{
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0px 0px 35px 0px;
  padding: 0 0 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
/* .meals-card{
   padding: 0 0 15px 0;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   height: 200px;
   width: 200px; 
} */
.row2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
.recipes {
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: row;
  }
  