*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: weight 10px;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   
}
.navbar{
    
    background-color: rgb(250, 69, 3);
    height: 50;
    width: 50;
   
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.image{
    height: 60px;
}
.Heading{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
}
.basic{
    display: flex;
    justify-content: space-around;
}
.options{
    display: flex;
    justify-content: space-evenly;
}
.btndiv{
    display: flex;
    justify-content: center;
    
}
.btn{
    background-color: rgb(250, 69, 3);
    color: white;
    border-color: rgb(250, 69, 3);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px;
    
    
}
.calories-Information{
    display: flex;
    flex-direction: row;
}
.Info{
    display: flex;
    justify-content: space-between;

}
.meals-card{
    display: flex;
    flex-direction: row;
    
}